# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
node_modules
!.gitkeep

# Live reloading
reflex.conf

# Config
.env*
!.env.example

/docker-compose.yml

# Cypress
cypress.env.json
cypress/videos
cypress/screenshots
cypress/downloads
cypress/cypress-record.sh

# Docker
tmp/minio/**
tmp/deliver/db_data/**
!tmp/deliver/db_data/.gitkeep
!tmp/minio/.gitkeep