{{define "page_title"}}Spaces{{end}}
{{define "body"}}
<div class="w-100 u-scroll-wrapper">
    <form action="{{.PathTo "create_space"}}" method="POST">
        {{.CSRFTag}}
        <input type="text" name="name">
        <button type="submit">Create</button>
    </form>
    <ul>
    {{range .Data.spaces}}
        <li><a href="{{$.PathTo "space" "spaceID" .ID}}">{{.Name}}</a></li>
    {{end}}
    </ul>
<div class="w-100 u-scroll-wrapper">
{{end}}