{{define "page_title"}}Spaces{{end}}
{{define "body"}}
    <form action="{{.URLPath "create_space"}}" method="post">
        <input type="text" name="name">
        <button type="submit">Create</button>
    </form>
    <ul>
    {{range .Var.spaces}}
        <li><a href="{{$.URLPath "space" "spaceID" .ID}}">{{.Name}}</a></li>
    {{end}}
    </ul>
{{end}}