<!DOCTYPE html>
<html class="u-maximize-height" dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{assetPath "/css/app.css"}}">
    <link rel="icon" href="{{assetPath "/favicon.ico"}}">
    <title>{{block "page_title" .}}{{end}}</title>
</head>

<body class="u-maximize-height overflow-hidden u-scroll-wrapper">
    <header>
        <div class="bc-navbar bc-navbar--small bc-navbar--bordered-bottom bc-navbar--white bc-navbar--fixed bc-navbar--scrollable shadow-sm px-4">
            <div class="bc-toolbar bc-toolbar-sm">
                <div class="bc-toolbar-left">
                    <div class="bc-toolbar-item">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{.URLPath "home"}}">
                                        <img class="d-none d-lg-inline-block" src="{{assetPath "/images/ghent-university-library-logo.svg"}}" alt="Ghent University Library">
                                        <img class="d-inline-block d-lg-none" src="{{assetPath "/images/ghent-university-library-mark.svg"}}" alt="Ghent University Library">
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="bc-toolbar-right">
                    <div class="bc-toolbar-item">
                        <div id="side-panels">
                            <ul class="nav nav-main">
                                <li class="nav-item">
                                    {{with .User}}
                                    <div class="dropdown position-static">
                                        <button class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="bc-avatar-and-text">
                                                <div class="bc-avatar bc-avatar--sm bc-avatar--small mr-2">
                                                    <i class="if if-user"></i>
                                                </div>
                                                <div class="bc-avatar-text">{{.Name}}</div>
                                            </div>
                                        </button>
                                        <div class="dropdown-menu mt-8">
                                            <div class="bc-avatar-and-text m-4">
                                                <div class="bc-avatar bc-avatar--sm">
                                                    <i class="if if-user"></i>
                                                </div>
                                                <div class="bc-avatar-text">
                                                    <h4>{{.Name}}</h4>
                                                    <p class="text-muted c-body-small">{{.Email}}</p>
                                                </div>
                                            </div>
                                            <hr class="dropdown-divider">
                                            <a class="dropdown-item" href="{{$.URLPath "logout"}}">
                                                <i class="if if-log-out"></i>
                                                <span>Log out</span>
                                            </a>
                                        </div>
                                    </div>
                                    {{else}}
                                    <a class="btn btn-primary btn-sm" href="{{$.URLPath "login"}}">
                                        <i class="if if-arrow-right ml-0"></i>
                                        <span class="btn-text mr-2">Log in</span>
                                    </a>
                                    {{end}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="d-flex u-maximize-height">
            <div class="c-sidebar">
                <div class="c-sidebar__menu">
                    <nav>
                        <ul class="c-sidebar-menu">
                            <li class="c-sidebar__item c-sidebar__item--active">
                                <a href="{{.URLPath "home"}}">
                                    <span class="c-sidebar__icon">
                                        <i class="if if-file"></i>
                                    </span>
                                    <span class="c-sidebar__label">Docs</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="c-sidebar__bottom">
                    <img src="{{assetPath "/images/logo-ugent-white.svg"}}" alt="Logo UGent" height="48px" width="auto">
                </div>
            </div>

            <div class="w-100 u-scroll-wrapper">
                {{range .Flash}}
                <div>
                    {{.Type}}: {{.Body}}
                </div>
                {{end}}

                {{block "body" .}}{{end}}
            </div>
        </div>
    </main>

    <script type="application/javascript" src="{{assetPath "/js/app.js"}}"></script>
</body>

</html>